---
import Layout from '../../layouts/Layout.astro';
import '../../styles/divisions.css';
---

<Layout
  title="Stats: Challengers"
  description="Season-by-season stat sheets for the Rocket Rivals Challengers division, from Season 2 through Season 7."
>
  <div>
    <h1>Stats: Challengers</h1>
    <hr />
    <div class="challengers-link">
      <h2><a href="https://docs.google.com/spreadsheets/d/11Ma9369xpbWUzivr8CYwahte6IVxGcBfAOCCgxj6i9U/edit?gid=2051195156#gid=2051195156>">Season 8</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1EKOyW0ohNMf5gn_DJot82IiDlmGp8GG5iTrHiK1_eEo/edit?gid=839524028#gid=839524028">Season 7</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1NYdscoHv0Xt8VPLLbSDPbh5qO2ALAaz_ugAdqj7hfc0/edit?gid=839524028#gid=839524028">Season 6</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1TUJzpfcr6N3DZPB4tPldviRtDi6VRAYnq4IBze6glk0/edit?gid=839524028#gid=839524028">Season 5</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1vblUJx895cid3OKNjmz8ex-1PMu8uLNIPmUq5zIJe14/edit?gid=839524028#gid=839524028">Season 4</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1DWPji0whH4D59DRMrckpsNtuACYGw-RgCM9GL2DUmuI/edit?gid=1062276367#gid=1062276367">Season 3</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1I9DVQSHxa__2qY7OO8l8O-I9Q7le34fGIPgydEl8R5Y/edit?usp=sharing">Season 2</a></h2>
    </div>
    <p><br /><br />&nbsp;</p>
    <nav class="return-stats">
      <p><a href="/stats">&lt;-- Back to stats</a></p>
    </nav>
  </div>
</Layout>
