---
import Layout from '../../layouts/Layout.astro';
import '../../styles/divisions.css';
---

<Layout
  title="Stats: Legends"
  description="Season-by-season stat sheets for the Rocket Rivals Legends division, from Season 4 through Season 7."
>
  <div>
    <h1>Stats: Legends</h1>
    <hr />
    <div class="legends-link">
      <h2><a href="https://docs.google.com/spreadsheets/d/1VqUrGZkOMeYOPwuf5kpenwpgUq9RaOq3fQlhxAjMu3Q/edit?gid=2051195156#gid=2051195156">Season 8</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1PKTHIkg-SzGdHHjcesXzay_ZM3E3jwsm2HM8sWSEshg/edit?gid=839524028#gid=839524028">Season 7</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1ChdHRGtzgiHXUTX8W9XefHp9Bf3AkkC_s__NwlivSs4/edit?gid=839524028#gid=839524028">Season 6</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1eGy7_gWf4Bksmr2BoKYLau2xLNg0rSKfFvTiPmquUVU/edit?gid=839524028#gid=839524028">Season 5</a></h2>
      <h2><a href="https://docs.google.com/spreadsheets/d/1pRcQBGikBaS7fz4yCucSH_p6N34RUTKMCytbleojn0U/edit?gid=839524028#gid=839524028">Season 4</a></h2>
    </div>
    <p><br /><br />&nbsp;</p>
    <nav class="return-stats">
      <p><a href="/stats">&lt;-- Back to stats</a></p>
    </nav>
  </div>
</Layout>
