---
import Layout from '../../layouts/Layout.astro';
import '../../styles/divisions.css';
---

<Layout
  title="Stats: Titans"
  description="Season 7 stat sheet for the Rocket Rivals Titans division."
>
  <div>
    <h1>Stats: Titans</h1>
    <hr />
    <div class="titans-link">
      <h2><a href="https://docs.google.com/spreadsheets/d/1pvfiSczm9Oe25x9OL9hhB8FcEiZlRHDj7hjEpxSVv7o/edit?gid=839524028#gid=839524028">Season 7</a></h2>
    </div>
    <p><br /><br />&nbsp;</p>
    <nav class="return-stats">
      <p><a href="/stats">&lt;-- Back to stats</a></p>
    </nav>
  </div>
</Layout>
