---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div>
    <h2><strong>Thank you for your interest in Rocket Rivals!</strong></h2>
    <p>Rocket Rivals is a friendly, community-driven league that was established in early 2023, and has grown to a size of 600+ discord members. It was founded by FallenRealms, and consists of a community of viewers, players, coaches, managers, graphic designers, casters/streamers, partners, administrators, and more. If you fit into one of these categories please don't hesitate to join! We welcome any and all members to our community, and are adamant about maintaining a <strong>fun, fair, and competitive</strong> space for everyone.</p>
    <p>For more information regarding rules, eligibility, and division placement, check out our <a href="https://docs.google.com/document/d/159WSPLjo71WpS_vPIxVrLttubZj-A65V5V-kzi4S14A/edit?tab=t.opzyxlhtj6sx">Official Rulebook </a>and <a href="https://docs.google.com/document/d/1o6ZK-9OpQhNDw9iNP4FHCemVkSpunbb73IS7Q4mvrVY/edit?tab=t.0">Guidebook&nbsp;</a></p>
  </div>
</Layout>
